In [ ]:
import pandas as pd

In [ ]:
traincsv = '/content/sample_data/california_housing_train.csv'

testcsv = '/content/sample_data/california_housing_test.csv'

### Update 0 : Getting comfortable/Revision of OOP.

In [ ]:
class Model:

  def __init__(self , datafile):
    self.df = pd.read_csv(datafile)

In [ ]:
m_trn = Model(traincsv)
df_trn = m_trn.df

In [ ]:
m_tst = Model(testcsv)
df_tst = m_tst.df

In [ ]:
df_trn.head(2)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0

[2 rows x 9 columns]

In [ ]:
df_tst.head(2)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0

[2 rows x 9 columns]

## Update 1 : LinearRegression utility.

In [ ]:
class Model:

  def __init__(self , datafile = traincsv):
    self.df = pd.read_csv(datafile)
    self.linear_reg = LinearRegression()

In [ ]:
from sklearn.linear_model import LinearRegression
m = Model()
tr = m.df
lr = m.linear_reg

## Update 2 : Train-Test-Split utility

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np

In [ ]:
class Model:

  def __init__(self , datafile = traincsv):
    self.df = pd.read_csv(datafile)
    self.linear_reg = LinearRegression()

  def split(self, output_column ,test_fraction):

    X = np.array(self.df.drop(output_column, axis=1))
    y = np.array(self.df[output_column])

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_fraction, random_state=42)

    return X_train, X_test, y_train, y_test

In [ ]:
m = Model()

df = m.df

out= 'median_house_value'

X_train, X_test, y_train, y_test = m.split(out, 0.2)

In [ ]:
X_train.shape , y_train.shape

((13600, 8), (13600,))

## Update 3 : Fitting and Predicting Utilities. 

> Fitting on Training, Predicting on Testing.

In [ ]:
class Model:

  def __init__(self , datafile = traincsv):
    self.df = pd.read_csv(datafile)
    self.linear_reg = LinearRegression()

  def split(self, output_column ,test_fraction):

    X = np.array(self.df.drop(output_column, axis=1))
    y = np.array(self.df[output_column])

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_fraction, random_state=42)

    # return X_train, X_test, y_train, y_test

  def fit(self):
    self.model = self.linear_reg.fit(X_train , y_train)

  def predict(self):
    yp = self.linear_reg.predict(X_test)
    return yp

In [ ]:
m = Model()
m.split(out, 0.2)
m.fit()
yp = m.predict()

## Update 4 : Model Performance Utility

In [ ]:
from sklearn.metrics import mean_squared_error as mse

In [ ]:
class Model:

  def __init__(self , datafile = traincsv):
    self.df = pd.read_csv(datafile)
    self.linear_reg = LinearRegression()

  def split(self, output_column ,test_fraction):

    X = np.array(self.df.drop(output_column, axis=1))
    y = np.array(self.df[output_column])

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_fraction, random_state=42)

    # return X_train, X_test, y_train, y_test

  def fit(self):
    self.model = self.linear_reg.fit(X_train , y_train)

  def predict(self):
    yp = self.linear_reg.predict(X_test)
    return yp    

  def score(self):
    rmse = np.sqrt(mse(y_test , yp))
    return rmse

In [ ]:
m = Model()
m.split(out, 0.2)
m.fit()
yp = m.predict()

print(f'The models error is : {m.score()}')

The models error is : 68078.32552452666